<div class="p-[20px]">
  <div class="flex items-center">
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      一键导入
    </button>
    <input
      class="hidden"
      type="file"
      #fileInput
      accept=".xlsx, .xls"
      (change)="handleImport($event)"
    />
    <mat-form-field appearance="standard" class="flex-1 ml-4">
      <mat-label>员工信息筛选</mat-label>
      <input
        [disabled]="dataSource.data.length === 0"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="例如：姓名，系数，性别等"
        #input
      />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort class="w-full">
      <!-- 工作日排班顺序 -->
      <ng-container matColumnDef="workScheduleSort">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >工作日排班顺序</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.workScheduleSort }}</mat-cell>
      </ng-container>

      <!-- 姓名 -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >姓名</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <!-- 系数 -->
      <ng-container matColumnDef="factor">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >系数</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.factor }}</mat-cell>
      </ng-container>

      <!-- 性别 -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >性别</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.gender | gender }}</mat-cell>
      </ng-container>

      <!-- 职位 -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >职位</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.role | role }}</mat-cell>
      </ng-container>

      <!-- 操作 -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="add new">add</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="download()"
            [disabled]="dataSource.data.length === 0"
          >
            <mat-icon aria-label="file download">file_download</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="startEdit(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteItem(row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <div *matNoDataRow class="text-center font-bold">
        <div class="p-3" *ngIf="dataSource.data.length > 0">
          <i>没有符合筛选的数据："{{ input.value }}"</i>
        </div>
      </div>
    </mat-table>

    <div
      *ngIf="dataSource.data.length === 0"
      class="flex flex-col items-center justify-center py-[20px] text-gray-400 h-[200px]"
    >
      <mat-icon aria-label="error_outline" class="mb-3">error_outline</mat-icon>
      <div class="font-bold text-sm">员工列表为空</div>
    </div>

    <mat-paginator
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page of users"
    ></mat-paginator>

    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </div>
</div>
